.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
